

.login{
	display: flex;
	flex-direction: column;
	width: 40em;
	max-width: 90vw;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	padding: 32px 70px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 7px 8px 9px -1px #ccc;
}

.login-title{
	color: #007bff;
	text-align: center;
	font-weight: bold;
}

/*** LOGO 
*************/
.main-logo{
	display: flex;
	justify-content: center;
}

.main-logo figure{
	margin: 0;
}

.main-logo figure img{
	height: auto;
	width: 6em;
}

/*** FORM 
*************/
form{
	margin-top: 3em;
}

.field{
	margin-bottom: 1em;
	width: 100%;
	height: 85px;
	display: flex;
	align-items: center;
}

.field i{
	font-size: 40px;
}

.field input,
.field.select select{
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	padding: 8px;
	height: 55px;
	color: #000;
	border: 1px solid #ccc;
	margin-left: 1em;
}

.field .error-text{
	color: red;
	font-size: 16px;
	padding: 8px;
}

.submit-button{
	color: #fff;
	padding: 16px;
	display: flex;
	justify-content: center;
}

.submit-button .btn{
	width: 255px;
	height: 50px;
	font-size: 20px;
}